#title{
    text-align: center;
    color: #2f73bb;
}
.padre1{
    display: inline-flex;
}
.box1{
    background-color: rgba(0, 0, 255, 0.765);
    text-align: justify;
}
.imagen1{
    background-color: aquamarine;
}
#boton1{
    color: green;
}
#bno{
    color: red;
}